.aba{
    margin: 0 1rem;
    width: auto;
}

.cor{
    color: rgb(0, 100, 0);
}
.borda{
    border: 3px inset gray;
}
.canto_reset{
    position: fixed;
    bottom :0;
    right:0;
    width: -50px;
    border: 3px black #73AD21;
}
.fundo{
    margin:0px;
    height:100%;
    background-color: rgb(14, 14, 14);
}
.aparencia{
    border: 1px solid gray;
}
